.navbar {
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    margin-bottom: 20px;
    width: 100%;
    background-color: #F0F0DB;
    color: #30364F;
    padding: 20px 0;
    z-index: 1;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    font-size: 1.5em;
}

.nav-link {
    padding: 5px;
}

.active-link {
  border-radius: 5px;
  border: 1px dotted red;
}